*{
    margin:0;
    padding: 0;
}

@font-face {
    font-family: Adrenaline;
    src: url(imgs/fonts/ADRENALINE.otf);
}

.logo{
    font-family: Adrenaline;
    font-size: 50px;
    color: red;
}

svg{
    cursor: pointer;

    path{
        fill: white !important;
        transition: 1s fill;
    }
    &:hover{
        path{
            fill: red !important;
        }
    }
}


body{
    height: 100vh;
    padding:0% 5%;
    color: white;
    box-sizing: border-box;
    background: linear-gradient(360deg, #1C1C1C 10%, #494949 360%);
}


h1{
    color: red;
}



main{
    display: none;
    height: 80vh;

    .home-description{
        width: 40%;
        gap: 10px;
        button{
            width: 40%;
            cursor: pointer;
            height: fit-content;
            border-radius: 5px;
            padding: 1%;
            border: none;


        }
    }

    .home-product{
        width: 60%;
        img{
            width: 100%;
            transform: scaleX(-1);
        }
    }
}

.home-buy-promotion{
    display: flex;
    justify-content: space-between;
}

.home-promotion{
    font-weight: bold;
    color: red;
}

section{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



nav, #social-media{
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul{
        display: flex;
        gap: 20px;
    }
    height: 10vh;
}

li{
    list-style-type: none;
}

ul{
    margin:0;
    padding: 0;
}

li {
    a{
        height: max-content;
        text-decoration: none;
        color: black;
        transition: color 1s;
        color: white;
        font-weight: bold;
        &:hover{
            color: red;
        }
    }
}


footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 10vh;
}


.active{
    display: flex;
}